[submodule "asst0-src"]
	path = asst0-src
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP3231/20T1/z5161179-asst0.git
[submodule "z5161179-asst1"]
	path = z5161179-asst1
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP3231/20T1/z5161179-asst1.git
[submodule "asst1-src"]
	path = asst1-src
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP3231/20T1/z5161179-asst1.git
